@import "./variables";
@import "./mixins";
@import "./base";

@import "./components/header";
// @import "./components/login";
@import "./components/register";
@import "./components/footer";
@import "./components/hero-slider";
@import "./components/button";
@import "./components/input";
@import "./components/section";
@import "./components/policy-card";
@import "./components/product-card";
@import "./components/catalog";
@import "./components/custom-checkbox";
@import "./components/product";
@import "./components/product-view-modal";
@import "./components/cart";
@import "./components/payment";
@import "./components/loading";
@import "./components/historyorder";

.infoform {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
}
label {
    margin-top: 1rem;
}
input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.25rem;
    outline: none;
}

button {
    cursor: pointer;
    align-self: flex-end;
    padding: 0.5rem;
    background-color: rgb(104, 187, 255);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
}

.errorMsg {
    max-width: 100%;
    font-size: 0.75rem;
    color: rgb(248, 106, 106);
}
.add-product {
    margin-bottom: 15px;
}
.header.sc-cxabCf.lfJGeo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
