.button-action-orders {
    display: flex;
    align-items: center;
    gap: 10px;
}
.action-order-icon {
    font-size: 20px;
    position: relative;
}

.productorderrow {
    height: 50px !important;
}
