.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    margin-bottom: 10px;
}

.payment-title {
    margin: 20px 0;
    text-align: center;
}

.css-mhc70k-MuiGrid-root {
    justify-content: center;
}
